# Configuração do PostgreSQL
DB_HOST=localhost
DB_PORT=1234
DB_USER=usuario_postgres
DB_PASSWORD=senha_postgres
DB_NAME=nome_db

# Configuração do Google OAuth
GOOGLE_CLIENT_ID=chave_id_aqui
GOOGLE_CLIENT_SECRET=chave_secreta_aqui