# Frontend URL
FREDERICKSEN_WEB_URL='https://rick.tllo.app'

# Backend PORT
PORT=9999

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name

DATABASE_URL=postgresql://XXXXXXXX:XXXXXXXXXXXXX@db:5432/XXXXXXX?schema=public

# Google Auth
GOOGLE_CLIENT_ID=seu_client_id
GOOGLE_CLIENT_SECRET=seu_client_secret
GOOGLE_CALLBACK_URL=https://rick-api.tllo.app/caminho

# JWT
JWT_SECRET=uma_chave_muito_segura_e_longa_aqui
JWT_EXPIRES_IN=2h


# AES-256 encryption
ENCRYPTION_KEY=chave_32_bytes

# Cloudflare tunnel
CLOUDFLARE_TOKEN=uma_token_muito_longa